# compiled output
dist
build

# NPM
node_modules

# files
uploads
prisma/client

# Logs
logs
*.log

# OS
.DS_Store

# IDEs and editors
.idea
.vscode

# dotenv environment variable files
.env*
!.env.example
